/* 記事本文のフォントサイズ調整 */
.post-content {
    font-size: 14px;   /* お好みで */
    line-height: 1.8;
}

/*h3 大見出し*/
.entry-content h3 {
    font-size: 150%; /*文字サイズ*/
    margin: 4em 0 1.3em; /*見出しの上下の余白*/
}
h3 {
    padding: 0.8em 0.6em; /*文字周りの余白(上下 左右)*/
    border-left: solid 7px #6495ed; /*左線（実線 太さ 色）*/
}

/*h4 中見出し*/
.entry-content h4 {
    margin: 3em 0 1.3em 0; /*見出しの上下の余白*/
}
h4 {
   padding: 0.3em 0.5em; /*文字周りの余白(上下 左右)*/
   border-left: solid 6px #6495ed; /*左線*/
}

/*h5 小見出し*/
.entry-content h5 {
    margin: 2em 0 1.3em 0; /*見出しの上下の余白*/
}
h5 {
    padding: 3px 15px; /*文字周りの余白(上下 左右)*/
    border-left: solid 4px #6495ed; /*左線*/
}